.footer
	.container
		.footer-content
			.logo
				a(href="#").header-logo
					| Sunam Clean
			.menu
				a(href="#block4") наши услуги
				a(href="#block3") Отзывы о нас
				a(href="#form") заказать
			.podelitsa
				a(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" title="facebook").footer-icons 
					<span class="icon-facebook-official"></span>
				a(href="#" title="instargram").footer-icons 
					<span class="icon-instagram"></span>
				a(href="https://wa.me/996555483919" title="watsapp").footer-icons 
					<span class="icon-whatsapp"></span>
				a(href="tel:996555483919" title="позвонить").footer-icons.no-margin 
					<span class="icon-phone"></span>
			
			


//- a(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" title="facebook").footer-icons <span class="icon-facebook-official"></span>
//- a(href="#" title="instargram").footer-icons <span class="icon-instagram"></span>
//- a(href="https://wa.me/996555483919" title="watsapp").footer-icons <span class="icon-whatsapp"></span>
//- a(href="tel:996555483919" title="позвонить").footer-icons.no-margin <span class="icon-phone"></span>
			