.footer
    .container
        .footer-content
            .footer-kompany
                h2 О компании
                p Мы молодая и современная фирма, оснощена оборудованием и средствами по последним технологиям.  Предлагаем вернуть вашей мягкой мебели былую чистоту и свежесть!
            .footer-adress
            .footer-soc-set
            .footer-menedger