section.dannye
	.my-phone
		a(href="https://wa.me/996559091122") <i class="icon-whatsapp" ></i> watsapp
	.my-phone
		a(href="tel:996559091122") <i class="icon-phone"></i> +996-559-09-11-22
	.my-phone
		a(href="#") <i class="icon-instagram"></i> instagram
header.header#block1
	.container
		.header-head
			a(href="#")
				.header-logo
			nav.header-nav
				.hamburger.hamburger--emphatic.menu
					.hamburger-box
						.hamburger-inner
				.nav
					ul
						li 
							a(href="#block1").nav-li-a.js-tab-trigger <span class="icon-home1 black"></span> Home
						li 
							a(href="#block4").nav-li-a.js-tab-trigger <span class="icon-hammer black"></span> Наши услуги
						li 
							a(href="#block3").nav-li-a.js-tab-trigger <span class="icon-comments-o black"></span> калькулятор
						li#animac.nav-li-a
							a.js-tab-trigger заказать
								div.animated.infinite.tada(style="float: left")
									<span class="icon-phone black"></span>
		.header-text
			h1.h2 Химчистка мягкой мебели и матрасов на дому 
			p.p.
				Разочарование от низкого качаства длится дольше чем радость от низкой цены!
			.btn
				a(href="#block2") о нас

