header.header#block1
	.container
		.header-head
			a(href="#")
				.header-logo
			nav.header-nav
				.hamburger.hamburger--emphatic
					.hamburger-box
						.hamburger-inner
				.nav
					ul
						li 
							a(href="#block1").nav-li-a <span class="icon-home1 black"></span> Home
						li 
							a(href="#block4" data-tab="port").nav-li-a <span class="icon-hammer black"></span> Наши услуги
						li 
							a(href="#block3").nav-li-a <span class="icon-comments-o black"></span> Отзывы о нас
						li#animac 
							div.animated.infinite.tada
								<span class="icon-volume-control-phone black"></span>
							a(href="#form").nav-li-a заказать
		.header-text
			h2.h2 Химчистка мягкой мебели и матрасов на дому 
			p.p.
				Разочарование от низкого качаства длится дольше чем радость от низкой цены!
			.btn
				a(href="#block2") о нас

