section.main-form#form
    .container
        .form-exit
            button.btn
        form(action="telegram.php" method="POST").form
            h2 Давайте мы вам позвоним
            h3 Оставьте свой номер и мы перезвоним вам в течении нескольких минут
            .form-div
                //- label(for="name") Ваше имя
                input(type="text" id="name" name="name" required pattern="[A-Za-zА-Яа-яЁё\s]+$" placeholder="Ваше имя" )
            .form-div
                //- label(for="number") Ваш телефонный номер
                input(type="phone" id="phone" name="phone" required placeholder="+996 555 48 39 19")
            .form-btn
                button Жду звонка
            .form-text.
                Нажимая на кнопку вы даете свое согласие на <span class="form-text-bg">обработку персональных данных</span>