section.main-company
	.container
		.tema
			h2  Lorem ipsum dolor sit amet.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quam voluptatum alias architecto aliquam nihil cum omnis nemo in et earum laboriosam non ad eaque fuga harum voluptatibus, porro veniam inventore at expedita deserunt nesciunt aliquid. Reiciendis officiis nam laudantium, qui vel eveniet sunt consequuntur, sed est blanditiis. Illum, architecto.
			.row
				.col
					.kartinka
						img(src="image/st1ul1.jpg", alt="rege")
					h3 Lorem ipsum dolor.
					.text.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, magni id suscipit eaque quibusdam, sunt sequi, sed eius et qui pariatur! Maiores doloremque, corrupti, voluptate placeat corporis praesentium eos sapiente, sed beatae esse soluta suscipit dolorem, saepe fugit. Earum, consectetur, molestias. Ab officia quo autem iure odio tempore dolorum reprehenderit.
				.col
					.kartinka
						img(src="image/st1ul2.jpg", alt="")
					h3 Lorem ipsum dolor.
					.text.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, magni id suscipit eaque quibusdam, sunt sequi, sed eius et qui pariatur! Maiores doloremque, corrupti, voluptate placeat corporis praesentium eos sapiente, sed beatae esse soluta suscipit dolorem, saepe fugit. Earum, consectetur, molestias. Ab officia quo autem iure odio tempore dolorum reprehenderit.
				.col
					.kartinka
						img(src="image/w1q1.jpg", alt="")
					h3 Lorem ipsum dolor.
					.text.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, magni id suscipit eaque quibusdam, sunt sequi, sed eius et qui pariatur! Maiores doloremque, corrupti, voluptate placeat corporis praesentium eos sapiente, sed beatae esse soluta suscipit dolorem, saepe fugit. Earum, consectetur, molestias. Ab officia quo autem iure odio tempore dolorum reprehenderit.