section.main-port#block4(data-tab="port")
	.container
		.tema
			h2 Цены на химчистку мебели
		.row
			.col
				.main-text(data-tab="matrase-1").mebel
					h3 диваны
					.cena-cont
						//- .cena-span
						//- 	span.cena-mebel от 1500 сом
			.col
				.main-text(data-tab="matrase-2").stul
					h3 матрасы
					.cena-cont
						//- .cena-span
						//- 	span.cena-mebel от 1500 сом
			.col
				.main-text(data-tab="matrase-3").main-stul
					h3 стульи
					.cena-cont
						//- .cena-span
						//- 	span.cena-mebel от 1500 сом
			.col
				.main-text(data-tab="matrase-4").main-pufic
					h3 пуфик
					.cena-cont
						//- .cena-span
						//- 	span.cena-mebel от 1500 сом
		.matrase#matrase-1
			.matrase-content
				h2.matrase-zag Цены на диваны
				.matrase-modal
					.row
						.col
							.matrase-icon.divan-one
							.matrase-text.
								двухместный диван
								700 сом
						.col
							.matrase-icon.divan-two
							.matrase-text.
								трехместный диван 1050 сом
						.col
							.matrase-icon.divan-three
							.matrase-text
								| двухместный угловой 1200 сом
						.col
							.matrase-icon.divan-four
							.matrase-text
								| трехместный угловой 1500 сом
						.col
							.matrase-icon.podushka
							.matrase-text
								| подушка от 80 сом
				button.btn
				.matrase-btn
					button заказать
		.matrase#matrase-2
			.matrase-content
				h2.matrase-zag Цены на матрасы
				.matrase-modal
					.row
						.col
							.matrase-icon.mat-one
							.matrase-text.
								односпальный матрас 1000 сом
						.col
							.matrase-icon.mat-two
							.matrase-text.
								полутораспальный матрас 1250 сом
						.col
							.matrase-icon.mat-three
							.matrase-text
								| двухместный спальный 1500
				button.btn 
				.matrase-btn
					button заказать
		.matrase#matrase-3
			.matrase-content
				h2.matrase-zag Цены на стульи и кресла
				.matrase-modal
					.row
						.col
							.matrase-icon.stul-one
							.matrase-text.
								стул с мягким сиденьем 100 сом
						.col
							.matrase-icon.stul-two
							.matrase-text.
								стул с мягкой спинкой и сиденьем 150 сом
						.col
							.matrase-icon.stul-three
							.matrase-text
								| кресло для отдыха 350 сом
						.col
							.matrase-icon.stul-four
							.matrase-text
								| кресло со спальным местом 500 сом
						.col
							.matrase-icon.stul-fife
							.matrase-text
								| кресло малое 250 сом
				button.btn
				.matrase-btn
					button заказать
		.matrase#matrase-4
			.matrase-content
				h2.matrase-zag Цены на пуфики
				.matrase-modal
					.row
						.col
							.matrase-icon.pufic-one
							.matrase-text.
								пуфик большой 300 сом
						.col
							.matrase-icon.pufic-two
							.matrase-text.
								пуфик маленький 200 сом
				button.btn
				.matrase-btn
					button заказать
		//- .zakaz
		//- 	form(action="#").zakaz-form
		//- 		input(type="text", name="name" placeholder="Антон")
		//- 		input(type="tel" name="tel" placeholder="996555483")
			