section.main-doverit
	.container
		h2 Почему химчистку мебели нужно доверить нам ?
		p  SUNAM CLEAN - это качественная химчистка дивана, пуфика, кресла, стульев и химчистка матраса
		.row
			.col
				.kartinka
					//- img(src="image/st1ul1.jpg", alt="rege")
					<span class="icon-cog prim"></span>
				h3 Профессиональное оборудование фирмы Santoemma
				.text.
					- лучшее в своем классе! Мы используем экстрактор SANTOEMMA, который идеально подходит для чистки диванов, химчистки матрасов и декоративных элементов на дому.
			.col
				.kartinka
					//- img(src="image/st1ul2.jpg", alt="")
					<span class="icon-fighter-jet prim"></span>
				h3 Высокоэффективная профессиональная химия
				.text.
					 - ведущих мировых производителей, которая предназначена для удаления сложных органических и химических пятен, например, от ручки или фломастера.
			.col
				.kartinka
					//- img(src="image/w1q1.jpg", alt="")
					<span class="icon-envira prim"></span>

				h3 Безопасно и безвредно для детей и домашних питомцев
				.text.
					- все средства химии, которые мы используем не имеют запахов и абсолютно безопасны
			