.main-calc
	.container
		.tema
			h2 калькульятор
		.calc-div
			div
				h3 Вычислите диван
				label(for="divan") Сколько посадочных мест
				input(type="number" id="divan")
				#divan-result
			div
				h3 Вычислите стул
				label(for="stul") Сколько стулей
				input(type="number" id="stul")
				#stul-result
			div
				#itog

				//- button#vyvod вывод
