section.main-port#block4(data-tab="port")
	.container
		.tema
			h2 Цены на химчистку мебели
		.row
			.col
				.main-text(data-tab="matrase-1").mebel
					h3 диваны
					.cena-cont
						| посмотреть
			.col
				.main-text(data-tab="matrase-2").stul
					h3 матрасы
					.cena-cont
						| посмотреть
			.col
				.main-text(data-tab="matrase-3").main-stul
					h3 стульи
					.cena-cont
						| посмотреть
			.col
				.main-text(data-tab="matrase-4").main-pufic
					h3 пуфик
					.cena-cont
						| посмотреть
		.matrase#matrase-1
			.matrase-content
				h2.matrase-zag Цены на диваны
				.matrase-modal
					.row
						.col
							.matrase-icon.divan-one
							.matrase-text.
								двухместный диван
								<span class="cena">700 сом</span>
						.col
							.matrase-icon.divan-two
							.matrase-text.
								трехместный диван <span class="cena">1050 сом </span>
						.col
							.matrase-icon.divan-three
							.matrase-text
								| двухместный угловой <span class="cena">1200 сом </span>
						.col
							.matrase-icon.divan-four
							.matrase-text
								| трехместный угловой <span class="cena">1500 сом </span>
						.col
							.matrase-icon.podushka
							.matrase-text
								| подушка от <span class="cena">80 сом </span>
				button.btn
				.matrase-btn
					button заказать
		.matrase#matrase-2
			.matrase-content
				h2.matrase-zag Цены на матрасы
				.matrase-modal
					.row
						.col
							.matrase-icon.mat-one
							.matrase-text.
								односпальный матрас  <span class="cena">1000 сом</span>
						.col
							.matrase-icon.mat-two
							.matrase-text.
								полутораспальный матрас  <span class="cena">1250 сом</span>
						.col
							.matrase-icon.mat-three
							.matrase-text
								| двухместный спальный <span class="cena"> 1500 сом</span>
				button.btn 
				.matrase-btn
					button заказать
		.matrase#matrase-3
			.matrase-content
				h2.matrase-zag Цены на стульи и кресла
				.matrase-modal
					.row
						.col
							.matrase-icon.stul-one
							.matrase-text.
								стул с мягким сиденьем <span class="cena">100 сом</span>
						.col
							.matrase-icon.stul-two
							.matrase-text.
								стул с мягкой спинкой и сиденьем <span class="cena">150 сом</span>
						.col
							.matrase-icon.stul-three
							.matrase-text
								| кресло для отдыха <span class="cena">350 сом</span>
						.col
							.matrase-icon.stul-four
							.matrase-text
								| кресло со спальным местом <span class="cena">500 сом</span>
						.col
							.matrase-icon.stul-fife
							.matrase-text
								| кресло малое <span class="cena">250 сом</span>
				button.btn
				.matrase-btn
					button заказать
		.matrase#matrase-4
			.matrase-content
				h2.matrase-zag Цены на пуфики
				.matrase-modal
					.row
						.col
							.matrase-icon.pufic-one
							.matrase-text.
								пуфик большой <span class="cena">300 сом<span>
						.col
							.matrase-icon.pufic-two
							.matrase-text.
								пуфик маленький <span class="cena">200 сом<span>
				button.btn
				.matrase-btn
					button заказать
		//- .zakaz
		//- 	form(action="#").zakaz-form
		//- 		input(type="text", name="name" placeholder="Антон")
		//- 		input(type="tel" name="tel" placeholder="996555483")
			