section.main-port#block4(data-tab="port")
	.container
		.tema
			h2 Цены на химчистку мебели
		.row
			.col
				.main-text
					h3 диваны
					.kartinka01.mebel
					.cena-cont
						//- .cena-span
						//- 	span.cena-mebel от 1500 сом
			.col
				.main-text
					h3 матрасы
					.kartinka01.mebel
					.cena-cont
						//- .cena-span
						//- 	span.cena-mebel от 1500 сом
			.col
				.main-text
					h3 стульи
					.kartinka01.mebel
					.cena-cont
						//- .cena-span
						//- 	span.cena-mebel от 1500 сом
		.matrase
			h2.matrase-zag hello world
			h3.matrase-tema fruighruih
			.matrase-table
				.table-tr
					.tr-td_one диван со спинкой
					.tr-td_two 1200 сом
				.table-tr
					.tr-td_one диван со спинкой
					.tr-td_two 1200 сом
				.table-tr
					.tr-td_one диван со спинкой
					.tr-td_two 1200 сом
				.table-tr
					.tr-td_one диван со спинкой
					.tr-td_two 1200 сом
			button.btn выход
		