section.main-port#block2(data-tab="port")
	.container
		.tema
			h2 Наши услуги
		.row
			.col
				.main-text
					h2 Химчистка диванов
					.kartinka01.mebel
					.cena-cont
						.cena-span
							span.cena-mebel от 1500 сом
			.col
				.main-text
					h2 Химчистка диванов
					.kartinka01.mebel
					.cena-cont
						.cena-span
							span.cena-mebel от 1500 сом
			.col
				.main-text
					h2 Химчистка диванов
					.kartinka01.mebel
					.cena-cont
						.cena-span
							span.cena-mebel от 1500 сом
			.col
				.main-text
					h2 Химчистка диванов
					.kartinka01.mebel
					.cena-cont
						.cena-span
							span.cena-mebel от 1500 сом
			.col
				.main-text
					h2 Химчистка диванов
					.kartinka01.mebel
					.cena-cont
						.cena-span
							span.cena-mebel от 1500 сом
			.col
				.main-text
					h2 Химчистка диванов
					.kartinka01.mebel
					.cena-cont
						.cena-span
							span.cena-mebel от 1500 сом