section.main-port#block4(data-tab="port")
	.container
		.tema
			h2 Цены на химчистку мебели
		.row
			.col
				.main-text
					h3 Химчистка диванов
					.kartinka01.mebel
					.cena-cont
						.cena-span
							span.cena-mebel от 1500 сом
			.col
				.main-text
					h3 Химчистка диванов
					.kartinka01.mebel
					.cena-cont
						.cena-span
							span.cena-mebel от 1500 сом
			.col
				.main-text
					h3 Химчистка диванов
					.kartinka01.mebel
					.cena-cont
						.cena-span
							span.cena-mebel от 1500 сом
			.col
				.main-text
					h3 Химчистка диванов
					.kartinka01.mebel
					.cena-cont
						.cena-span
							span.cena-mebel от 1500 сом
			.col
				.main-text
					h3 Химчистка диванов
					.kartinka01.mebel
					.cena-cont
						.cena-span
							span.cena-mebel от 1500 сом
			.col
				.main-text
					h3 Химчистка диванов
					.kartinka01.mebel
					.cena-cont
						.cena-span
							span.cena-mebel от 1500 сом