section.main-otzyv#block3
	.container.padding
		.zag
			h2 Words from our customer
		.owl-carousel.owl-theme
			.item
				.item-otzyv
					.text
						p.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum vitae, minus voluptas ab deleniti voluptatem quam rerum nesciunt mollitia et.
					.person
						.foto
							img(src="image/image.jpg", alt="foto")
						.family
							.name
								<span>Zhyrgalbek</span> <span>Kamalov</span>
			.item
				.item-otzyv
					.text
						p.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus et illum unde excepturi repellat, eveniet reiciendis optio? Nam magni, eos.
					.person
						.foto
							img(src="image/IMG_20190326_131815.jpg", alt="foto")
						.family
							.name
								<span>Zhyrgalbek</span> <span>Kamalov</span>
			.item
				.item-otzyv
					.text
						p.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus et illum unde excepturi repellat, eveniet reiciendis optio? Nam magni, eos.
					.person
						.foto
							img(src="image/IMG_20190326_131815.jpg", alt="foto")
						.family
							.name
								<span>Zhyrgalbek</span> <span>Kamalov</span>
			.item
				.item-otzyv
					.text
						p.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus et illum unde excepturi repellat, eveniet reiciendis optio? Nam magni, eos.
					.person
						.foto
							img(src="image/IMG_20190326_131815.jpg", alt="foto")
						.family
							.name
								<span>Zhyrgalbek</span> <span>Kamalov</span>