section.main-port#block2(data-tab="port")
	.container
		.tema
			h2 Наши услуги
		.row
			.col
				.main-text
					h2 mobile app development
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, impedit vitae repudiandae doloremque ipsum nemo itaque ipsam molestiae officia. Voluptatibus totam modi unde pariatur, nihil ea non, libero, voluptas sit neque iusto. Distinctio harum beatae doloremque fugit nostrum error porro, a ipsam vel, expedita ducimus itaque maiores libero nam praesentium.
			.col
				.kartinka01
					img(src="image/41427_popUpThumb.jpg", alt="fefe").kartinka-img
		.row
			.col
				.main-text
					h2 mobile app development
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, impedit vitae repudiandae doloremque ipsum nemo itaque ipsam molestiae officia. Voluptatibus totam modi unde pariatur, nihil ea non, libero, voluptas sit neque iusto. Distinctio harum beatae doloremque fugit nostrum error porro, a ipsam vel, expedita ducimus itaque maiores libero nam praesentium.
			.col
				.kartinka01
					img(src="image/41427_popUpThumb.jpg", alt="fefe").kartinka-img
		.row
			.col
				.main-text
					h2 mobile app development
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, impedit vitae repudiandae doloremque ipsum nemo itaque ipsam molestiae officia. Voluptatibus totam modi unde pariatur, nihil ea non, libero, voluptas sit neque iusto. Distinctio harum beatae doloremque fugit nostrum error porro, a ipsam vel, expedita ducimus itaque maiores libero nam praesentium.
			.col
				.kartinka01
					img(src="image/41427_popUpThumb.jpg", alt="fefe").kartinka-img
		.row
			.col
				.main-text
					h2 mobile app development
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, impedit vitae repudiandae doloremque ipsum nemo itaque ipsam molestiae officia. Voluptatibus totam modi unde pariatur, nihil ea non, libero, voluptas sit neque iusto. Distinctio harum beatae doloremque fugit nostrum error porro, a ipsam vel, expedita ducimus itaque maiores libero nam praesentium.
			.col
				.kartinka01
					img(src="image/41427_popUpThumb.jpg", alt="fefe").kartinka-img
			