section.main-company#block2
	.container
		.tema
			h2 О компании
			p Мы молодая и современная фирма, оснощена оборудованием и средствами по последним технологиям.  Предлагаем вернуть вашей мягкой мебели былую чистоту и свежесть!
section.main-company.red
	.container
		.tema
			h2 наши преимущества
			.row
				.col
					.kartinka
						//- img(src="image/st1ul1.jpg", alt="rege")
						<span class="icon-home prim"></span>
					h3 удобно
					.text.
						 Химчистка мягкой мебели и ковров происходит у вас дома или в офисе
				.col
					.kartinka
						//- img(src="image/st1ul2.jpg", alt="")
						<span class="icon-thumbs-up prim"></span>
					h3 качественно
					.text.
						  Глубокое проникновение чистящего средства внутрь обивочного материала
				.col
					.kartinka
						//- img(src="image/w1q1.jpg", alt="")
						<span class="icon-leaf prim"></span>

					h3 безопасно
					.text.
						Мы используютем только безопасные для людей чистящие средства
				.col
					.kartinka
						//- img(src="image/w1q1.jpg", alt="")
						<span class="icon-shield prim"></span>
						
					h3 гарантированно
					.text.
						 Гарантируем Вам чистоту мягкой мебели и ковров после процедуры химчистки