.main-calc
	.container
		.tema
			h2 калькульятор
		.stul
			div.total
			div.buttons
				button.calc-btn 0
				button.calc-btn 1
				button.calc-btn 2
				button.calc-btn 3
				button.calc-btn 4
				button.calc-btn 5
				button.calc-btn 6
				button.calc-btn 7
				button.calc-btn 8
				button.calc-btn 9
				button.calc-btn C
				button.calc-btn +
				button.calc-btn -
				button.calc-btn *
				button.calc-btn /
				button.calc-btn =
				button.calc-btn <-
		.calc-div
			div
				h3 Вычислите диван
				label(for="divan") Сколько посадочных мест
				input(type="number" id="divan")
				#divan-result
			div
				h3 Вычислите стул
				label(for="stul") Сколько стулей
				input(type="number" id="stul")
				#stul-result
			div
				#itog

				//- button#vyvod вывод
