section.main-doverit
	.container
		h2 Почему химчистку мебели нужно доверить нам ?
		p  SUNAM CLEAN - это качественная химчистка дивана, пуфика, кресла, стульев и химчистка матраса
		.row
			.col
				.div
					.kartinka
						//- img(src="image/st1ul1.jpg", alt="rege")
						<span class="icon-cog prim"></span>
					.kartinka-text
						h3 Профессиональное оборудование фирмы Santoemma
						.text.
							- лучшее в своем классе! Мы используем экстрактор SANTOEMMA, который идеально подходит для чистки диванов, химчистки матрасов и декоративных элементов на дому.
				.div
					.kartinka
						//- img(src="image/st1ul2.jpg", alt="")
						<span class="icon-fighter-jet prim"></span>
					.kartinka-text
						h3 Высокоэффективная профессиональная химия
						.text.
							- ведущих мировых производителей, которая предназначена для удаления сложных органических и химических пятен, например, от ручки или фломастера.
				.div
					.kartinka
						//- img(src="image/w1q1.jpg", alt="")
						<span class="icon-envira prim"></span>
					.kartinka-text
						h3 Безопасно и безвредно для детей и домашних питомцев
						.text.
							- все средства химии, которые мы используем не имеют запахов и абсолютно безопасны
			.col.image
				.doverit-image
					img(src="image/photo_2019-09-08_19-24-25.jpg", alt="mebel")