.soc-set
    .container
        .set_blocks
            .hamburger.set.hamburger--spin
                .hamburger-box
                    .hamburger-inner
            ul.set-ul
                li.set-li.instagram
                    a(href="https://www.instagram.com/?hl=ru" title="instagram") <span class="icon-instagram set-center"></span>
                li.set-li.facebook
                    a(href="#" title="facebook") <span class="icon-facebook-official set-center"></span>
                li.set-li.whatsapp
                    a(href="#" title="whatsapp") <span class="icon-whatsapp set-center"></span>
                li.set-li.phone
                    a(href="#form" title="позвонить") <span class="icon-phone set-center"></span>
