<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
	body
		.wrapper
			header.header
				h2 Hello world
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolor iste facere repudiandae, accusantium, vero quod dolores! Placeat, inventore eligendi.

	