.black
	color: #fff
.header
	background: #136cf8 
	background: url(../image/couch-1835923_1920.jpg) no-repeat
	background-size: cover
	background-position: bottom center
	// filter: saturate(45%)
	height: 100vh
	position: relative
	&:before
		content: ""
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0, 0.7)
		z-index: 10
	.header-head
		position: absolute
		top: 0
		left: 0
		z-index: 100
		height: 70px
		width: 100%
		transition-duration: 0.2s
		display: flex
		flex-flow: row nowrap
		justify-content: space-around
		align-items: center
	.fixed
		position: fixed
		background: #664c96de
	.header-logo
		a
			font-family: "CircularStd-Book", sans-serif
			font-style: normal
			font-weight: normal
			font-size: 35px
			line-height: 40px
			color: #fff
			text-decoration: none
	.header-nav
		.nav
			// border: 1px solid red
			position: absolute
			top: 150px
			left: -200px
			transform: translateY(-50%)
			width: 200px
			z-index: 10
			transition-duration: 0.2s
			border-top-right-radius: 100px
			border-bottom-right-radius: 100px
			padding: 20px 20px 20px 0
			background: blue
			overflow: hidden
			ul
				list-style-type: none
				width: 100%
				margin: 0
				padding: 0
				li
					width: 100%
					// border: 1px solid red
					a
						// border: 1px solid green
						display: block
						font-family: "CircularStd-Book", sans-serif
						font-style: normal
						font-weight: normal
						font-size: 16px
						color: #fff
						line-height: auto
						// text-transform: capitalize
						text-decoration: none
						text-align: left
						border-top-right-radius: 30px
						border-bottom-right-radius: 30px
						padding: 10px 20px
						// background: blue
						transition-duration: 0.2s
		.left
			left: 0px
	.header-text
		// border: 1px solid red
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		// height: 100%
		width: 90%
		display: flex
		flex-flow: column nowrap
		align-items: center
		justify-content: center
		z-index: 12
		.h2
			font:
				family: "CircularStd-Bold"
				weight: normal
				style: normal
			font-size: 40px
			line-height: 55px
			text-align: center
			color: #fff
		.p
			font:
				family: "CircularStd-Book",sans-serif
				weight: normal
				style: normal
			font-size: 21px
			line-height: 34px
			color: #fff
			text-align: center
			margin-top: 35px
		.btn
			display: block
			text-align: center
			a
				display: inline-block
				font-family: "CircularStd-Book", sans-serif
				font-weight: normal
				font-style: normal
				text-decoration: none
				font-size: 16px
				line-height: auto
				text-transform: capitalize
				color: #0063ff
				padding: 15px 30px
				border-radius: 30px
				background: #fff
				margin-top: 40px
				&:hover
					background: #000
+media(480px)
	.header
		// perspective: 500px
		.header-head
			// perspective: 500px
		.header-nav 
			width: 500px
			height: 50px
			// border: 1px solid red
			display: flex
			justify-content: flex-end
			.nav
				position: absolute
				top: 90px
				left: 0
				width: 100%
				transition-duration: 0.2s
				// transform: translateY(0)
				// transform: translateX(-50%)
				// transform: translateX(-50%) rotateX(-83deg)
				background: blue
				display: flex
				justify-content: center
				padding: 0
				height: 0
				overflow: hidden
				border-top-right-radius: 0
				border-bottom-left-radius: 100px
				// border: 1px solid red
				// transform: rotateX(-130deg)
				ul
					display: flex
					flex-flow: row nowrap
					justify-content: flex-start
					align-items: center
					li
						// border: 1px solid green
						text-align: center
						a
							background: transparent
							display: inline-block
							padding: 10px 20px
							border-radius: 30px
							&:hover
								background: rgba(0,0,0,0.8)
			.height
				height: 50px
			.rotate
				transform: translateX(-50%) rotateX(0)
+media(800px)
	.hamburger
		display: none
	.header 
		.header-nav 
			width: 800px
			height: 50px
			// border: 1px solid red
			align-items: center
			.nav
				position: static
				height: 50px
				transform: translateY(0)
				background: transparent


