.main-calc
	padding-bottom: 50px
	// background: #1abc9c
	.container
		h2
			color: #2c3e50
		// border: 1px solid red
	#app
		div
			h3
				font:
					family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
					weight: 700
					line-height: 1.2
					size: 1.7rem
				text-transform: uppercase
				color: #1abc9c
				margin: 15px 0
				padding: 6px 0
			position: relative
			.itog
				position: absolute
				background: #ccc
				top: 100%
				left: 50%
				transform: translateX(-50%)
				padding: 10px 20px
				width: 190px
				border-radius: 5px
		.app-calc
			display: flex
			justify-content: space-between
			flex-flow: row wrap
			align-items: space-between
			font-size: 16px
			position: relative
			div
				padding-top: 20px
				padding-bottom: 20px
				background: #fff
				// border: 1px solid red
				width: 300px
				border-radius: 5px
				display: flex
				margin-bottom: 20px
				flex-flow: column nowrap
				justify-content: center
				align-items: center
				.h2
					font:
						family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
						weight: 700
						line-height: 1.2
					text-transform: uppercase
					color: #2c3e50
					margin: 15px 0
					padding: 6px 0
				p
					font-size: 16px
					color: #2c3e50
				.range
					width: 150px
				input
					width: 50px
				img
					width: 150px
					// border: 1px solid red