.main-company
	// background: #1abc9c
	.tema
		line-height: 1.5
		text-align: center
		h2
			font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
			font-weight: 700
			font-size: 2.25rem
			line-height: 3rem
			text-align: center
			padding: 50px 0
			text-transform: uppercase
			color: #2c3e50
		p
			font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
			line-height: 1.5
			font-size: 1.25rem
			font-weight: 300
			color: #000
			text-align: center
		h3
			font:
				family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
				weight: 700
			line-height: 1.2
			text-transform: uppercase
			color: #1abc9c
			margin: 15px 0
			padding: 6px 0
		+setka(1/4, 1/4)
		.kartinka
			padding-bottom: 18px
			.prim
				color: #fff
				font-size: 3em
				background: $fon
				padding: 20px
				border-radius: 10px
			img
				// border: 1px solid red
				width: 100%
				height: auto
		.text
			font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
			line-height: 1.5
			font-size: 1.25rem
			font-weight: 300
			color: #000
			text-align: center
.red
	background: #fff
// +media(480px)
// 	.tema
// 		.kartinka
// 			.prim
// 				font-size: 10em
// +media(800px)
// 	.tema
// 		.kartinka
// 			.prim
// 				font-size: 15em