.main-form
    background: #136cf8 
    padding: 50px 0
    .form
        box-sizing: border-box
        // border: 1px solid red
        display: flex
        margin: 0 auto
        max-width: 400px
        background: #fff
        flex-flow: column nowrap
        padding: 50px 20px
        h2
            font-family: "CircularStd-Medium", sans-serif
            font-weight: normal
            font-style: normal
            text-align: center
            font-size: 28px
        .form-div
            display: flex
            // flex-flow: row nowrap
            // justify-content: space-between
            // align-items: center
            flex-flow: column nowrap
            // border: 1px solid red
            padding: 10px 20px
            input
                font-family: "CircularStd-Bold", sans-serif
                font-weight: normal
                font-style: normal
                font-size: 18px
                padding: 10px
                background: #ccc
                border: 1px solid #ccf
                border-radius: 5px
        .form-btn
            text-align: center
            padding: 10px 0
            button
                display: inline-block
                padding: 10px 20px
                border: 1px solid #ccf
                border-radius: 5px
                font-family: "CircularStd-Bold", sans-serif
                font-weight: normal
                font-style: normal
                font-size: 18px
                background: blue
                color: #fff