.main-doverit
	// border: 1px solid red
	text-align: center
	+setka(1, 1/2)
	h3
		font:
			family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
			weight: 700
			size: 1.2rem
		line-height: 1.5
		color: #2c3e50
		text-transform: uppercase
		padding: 20px 0
	p
		font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
		line-height: 1.5
		font-size: 1.25rem
		font-weight: 300
		color: #000
		text-align: center
		margin-bottom: 30px
	.div
		padding: 0px 0
	.kartinka-text
	.kartinka
		padding-top: 50px
		padding-bottom: 30px
		.prim
			color: #fff
			font-size: 3em
			background: $fon
			padding: 20px 25px
			border-radius: 10px
		img
			// border: 1px solid red
			width: 100%
			height: auto
	.text
		font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
		font-size: 1.1rem
		color: #000
		margin-bottom: 30px
	.col.image
		display: none
	.doverit-image
		border-radius: 10px
		width: 100%
		height: 700px
		overflow: hidden
		// display: none
		img
			object-fit: cover
			width: 100%
			height: 100%
+media(480px)
	.main-doverit
		.div
			// padding-right: 50px
			display: flex
			justify-content: space-between
			align-items: top
		.kartinka-text
			margin-left: 40px
+media(800px)
	.main-doverit 
		.div
			padding-right: 50px
		.col.image
			display: block